@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #999999;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    border-radius: 20px;
    width: 470px;
    margin: 0 auto;
    background-color: #fff;
    padding:60px;
}

h1{
    font-size:42px;
    font-family: "Inter", serif;
    font-weight: 700;
    margin-bottom: 42px;
}

form{
    outline: none;
    /* border: 1px solid red; */
}

input:focus{
    outline:none;
}

.flag-icon{
    position: relative;
}


.full-name-wrapper, .datepicker-wrapper, .location-picker-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

label{
    margin-bottom: 6px;
    font-family: "Roboto", serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
}
input, select, textarea{
    border: 1px inset #42506673;
    border-radius: 5px;
    padding: 12px;
    width: 100%; 
    margin-bottom: 10px;
}

.datepicker-wrapper input, .location-picker-wrapper select{
    width: 100%;
}

.radio-button-wrapper{
    display: flex;
    gap: 30px;
}

.radio-button-wrapper div{
    display: flex;

}

.radio-button-wrapper label{
    font-size: 14px;
    min-width: 45px;
}

input[type=radio]{
    margin-right: 5px;
}
.card-additional-info_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;

}
.expire-date-wrapper{
    width: 50%;
    display: flex;
    position: relative;
}

.phone-number-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.select-index{
    flex-basis: 40%;
}
select{
    border: 2px inset transparent;
}`