* {
    margin: 0;
    padding: 0;
  }
  
  /* ---- MAIN CONTAINER ---- */
  
  .main-container {
    width: 1440px;
    height: 1084px;
    color: #ffffff;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  }
  .main-container .bg-img {
    width: 100%;
    height: 100%;
  }
  .main-container h1 {
    font-size: 28px;
    cursor: pointer;
  }
  .main-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 41px;
    left: 70px;
    position: absolute;
    width: 90%;
  }
  .main-container header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
  }
  .main-container header nav ul li #drop-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
  .main-container header nav ul li a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 18px;
  }
  .main-container .cart-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .main-container .cart {
    width: 25px;
    height: 28px;
  }
  .main-container .cart-items #number-of-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 25px;
    background-color: #e58411;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 12px;
  }
  .main-container h2 {
    text-align: center;
    font-size: 80px;
    width: 880px;
    position: absolute;
    top: 161px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-container p {
    text-align: center;
    font-size: 24px;
    width: 550px;
    line-height: 38px;
    opacity: 80%;
    position: absolute;
    top: 383px;
    left: 50%;
    transform: translateX(-50%);
  }
  .main-container .circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 743px;
    left: 103px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.84px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .main-container .circle:hover {
    transform: scale(2);
  }
  .main-container .circle .outline-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 0.84px solid rgba(255, 255, 255, 1);
    cursor: pointer;
  }
  .main-container .circle .outline-circle:hover {
    animation: vibration 1s infinite ease-in-out;
  }
  .main-container .circle2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 680px;
    left: 290px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.84px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  /* .main-container .circle2:hover {
    transform: scale(2);
  } */
  .main-container .circle2 .outline-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 0.84px solid rgba(255, 255, 255, 1);
    cursor: pointer;
  }
  .main-container .circle2 #color-btns {
    position: absolute;
    top: -70px;
    width: 150px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
  }
  .main-container .circle2 #color-btns .border1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.6);
  }
  .main-container .circle2 #color-btns .border2 {
    position: absolute;
    top: 0;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border-top: 0.86px solid rgba(255, 255, 255, 0.6);
  }
  .main-container .circle2 #color-btns .border3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
  }
  .main-container .circle2 #color-btns .border4 {
    position: absolute;
    top: 0;
    width: 150px;
    height: 50px;
    border-radius: 30px;
  }
  .main-container .circle2 #color-btns .border4::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 65px;
    height: 50px;
    border-bottom-left-radius: 25px;
    border-bottom: 0.86px solid rgba(255, 255, 255, 0.6);
  }
  .main-container .circle2 #color-btns .border4::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 65px;
    height: 50px;
    border-bottom-right-radius: 25px;
    border-bottom: 0.86px solid rgba(255, 255, 255, 0.6);
  }
  .main-container .circle2 #color-btns .border5{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 20px;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0.86px 0px 0px 0px rgba(255, 255, 255, 0.6), 
    -0.86px 0px 0px 0px rgba(255, 255, 255, 0.6),
    0px 0.86px 0px 0px rgba(255, 255, 255, 0.6);
  }
  .main-container .circle3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 775px;
    left: 800px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.84px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .main-container .circle3:hover {
    transform: scale(2);
  }
  .main-container .circle3 .outline-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 0.84px solid rgba(255, 255, 255, 1);
    cursor: pointer;
  }
  .main-container .circle3 .outline-circle:hover {
    animation: vibration 1s infinite ease-in-out;
  }
  .main-container .circle4 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 820px;
    left: 1375px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.84px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: transform 0.5s;
  }
  .main-container .circle4:hover {
    transform: scale(2);
  }
  .main-container .circle4 .outline-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    border: 0.84px solid rgba(255, 255, 255, 1);
    cursor: pointer;
  }
  .main-container .circle4 .outline-circle:hover {
    animation: vibration 1s infinite ease-in-out;
  }
  
  @keyframes vibration {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
    }
  
    50% {
      transform: scale(1);
      box-shadow: 0 0 0 0.6rem rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  .main-container .input-place {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 344px;
    height: 56px;
    border-radius: 42px;
    border: 0.82px solid #ffffff;
    overflow: hidden;
    color: #cea0a0;
    top: 504px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .main-container .input-place input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 42px;
    opacity: 15%;
    font-size: 18px;
    padding-left: 30px;
  }
  
  .main-container .input-place input::-webkit-input-placeholder {
    width: 130px;
    height: 25px;
    font-size: 18px;
  }
  
  .main-container .input-place i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e58411;
    color: #ffffff;
    position: absolute;
    right: 0;
    margin: 10px;
    cursor: pointer;
  }
  
  /* ---- WHY CHOOSING US SECTION ---- */
  
  .why-choosing-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 80px;
  }
  .why-choosing-us h2 {
    font-size: 42px;
    width: 242px;
    height: 104px;
  }
  .why-choosing-us .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  .why-choosing-us .section-container .inline-container {
    width: 290px;
  }
  .why-choosing-us .section-container .inline-container h3 {
    margin-bottom: 28px;
  }
  .why-choosing-us .section-container .inline-container p {
    opacity: 80%;
    font-size: 16px;
    line-height: 29.6px;
    margin-bottom: 29px;
  }
  .why-choosing-us .section-container .inline-container .more-info {
    color: #e58411;
    cursor: pointer;
  }
  .why-choosing-us .section-container .inline-container .more-info a {
    text-decoration: none;
    color: #e58411;
  }
  
  /* ---- BEST SELING PRODUCTS SECTION ---- */
  
  .best-seling-products {
    width: 1440px;
    height: 906px;
    background-color: rgba(247, 247, 247, 1);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
  }
  .best-seling-products h2 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 32px;
  }
  .best-seling-products ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 348px;
    height: 57px;
    border-radius: 44px;
    background-color: rgba(238, 238, 238, 1);
    margin: auto;
  }
  .best-seling-products ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 45px;
    cursor: pointer;
    border-radius: 32px;
    transition: 0.3s background;
  }
  .best-seling-products ul li:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  .best-seling-products ul li a {
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
  }
  .best-seling-products .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1198.35px;
    position: absolute;
    top: 330px;
    left: 50%;
    transform: translateX(-50%);
  }
  .best-seling-products .section-container section {
    position: relative;
    width: 248px;
    height: 441px;
    border-radius: 20px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .best-seling-products .section-container section img {
    position: absolute;
    top: -60px;
  }
  .best-seling-products .section-container .item-info {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 0px 20px 20px;
    bottom: 0;
  }
  .best-seling-products .section-container .item-info p {
    color: #8d8d8d;
    font-size: 16.46px;
    padding: 10px;
  }
  .best-seling-products .section-container .item-info h3 {
    font-size: 21.33px;
    color: #0d1b39;
    padding: 0 10px;
  }
  .best-seling-products .section-container .item-info #star-rating {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 18.28px;
    padding: 10px;
  }
  .best-seling-products .section-container .item-info #star-rating i {
    color: #0d1b39;
    cursor: pointer;
  }
  .best-seling-products .section-container .item-info #star-rating i:hover {
    color: #f6b76f;
  }
  .best-seling-products .section-container .item-info span {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 30px 10px 20px 10px;
  }
  .best-seling-products .section-container .item-info span .item-price {
    color: #0d1b39;
    font-size: 21.31px;
    display: flex;
    align-items: center;
    gap: 3px;
  }
  .best-seling-products .section-container .item-info span .item-price i {
    font-size: 15.23px;
    margin-top: -10px;
  }
  .best-seling-products .section-container .item-info span button {
    width: 48.74px;
    height: 48.74px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: #0d1b39;
  }
  .best-seling-products #slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin: 320px auto;
    font-size: 20px;
  }
  .best-seling-products #slide i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 10px 1px rgba(87, 87, 87, 0.178);
    cursor: pointer;
    z-index: 2;
    transition: 0.3s box-shadow;
  }
  .best-seling-products #slide i:hover {
    box-shadow: 0px 0px 10px 1px rgba(87, 87, 87, 0.308);
  }
  .best-seling-products .full-page {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(229, 132, 17, 1);
    cursor: pointer;
  }
  .best-seling-products .full-page a {
    text-decoration: none;
    color: rgba(229, 132, 17, 1);
  }
  
  /* ---- ABOUT SECTION ---- */
  
  .about-container {
    display: flex;
    padding-top: 250px;
  }
  .about-container .image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .about-container .image img {
    width: 629px;
    height: 445px;
    z-index: 2;
  }
  .about-container .image .icon-bg1 {
    position: absolute;
    top: -66px;
    left: 0;
    width: 495px;
    height: 422px;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 0 20px;
  }
  .about-container .image .icon-bg2 {
    position: absolute;
    right: -61px;
    width: 495px;
    height: 301px;
    background-color: rgba(247, 247, 247, 1);
    border-radius: 20px;
  }
  .about-container .experience {
    margin-left: 150px;
  }
  .about-container .experience h3 {
    font-size: 18px;
    color: rgba(229, 132, 17, 1);
    line-height: 21.09px;
    margin-bottom: 20px;
  }
  .about-container .experience h2 {
    font-size: 42px;
    line-height: 49.22px;
    text-transform: capitalize;
    width: 413px;
    height: 104px;
    margin-bottom: 20px;
  }
  .about-container .experience p {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 33.3px;
    color: rgba(30, 30, 30, 1);
    opacity: 80%;
    margin-bottom: 24px;
  }
  .about-container .experience .more-info {
    display: flex;
    justify-content: flex-start;
    gap: 13px;
    color: rgba(229, 132, 17, 1);
  }
  .about-container .experience .more-info a {
    text-decoration: none;
    color: rgba(229, 132, 17, 1);
  }
  
  /* ---- MATERIALS CONTAINER ---- */
  
  .materials-container {
    display: flex;
    padding-top: 240px;
  }
  .materials-container .materials {
    margin-left: 80px;
  }
  .materials-container .materials h3 {
    font-size: 18px;
    line-height: 21.09px;
    color: rgba(229, 132, 17, 1);
    width: 117px;
    height: 22px;
    margin-bottom: 20px;
  }
  .materials-container .materials h2 {
    font-size: 42px;
    line-height: 49.22px;
    color: rgba(30, 30, 30, 1);
    width: 433px;
    height: 156px;
    text-transform: capitalize;
  }
  .materials-container .materials p {
    font-size: 18px;
    line-height: 33.3px;
    color: rgba(30, 30, 30, 1);
    width: 556px;
    height: 99px;
    opacity: 80%;
    margin-bottom: 24px;
  }
  .materials-container .materials .more-info {
    display: flex;
    justify-content: flex-start;
    gap: 13px;
    color: rgba(229, 132, 17, 1);
  }
  .materials-container .materials .more-info a {
    text-decoration: none;
    color: rgba(229, 132, 17, 1);
  }
  .materials-container .images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 892px;
    position: relative;
    overflow: hidden;
  }
  .materials-container .images-container .image1 {
    width: 223px;
    height: 250px;
    grid-column: 1;
    grid-row: 1;
  }
  .materials-container .images-container .image2 {
    width: 223px;
    height: 317.04px;
    grid-column: 1;
    grid-row: 2;
  }
  .materials-container .images-container .image3 img {
    position: absolute;
    width: 629px;
    height: 445px;
    grid-column: 1;
    grid-row: 1 / 3;
    left: 263px;
    bottom: 10px;
    z-index: 2;
  }
  .materials-container .images-container .image3 .bg-container {
    position: absolute;
    width: 495px;
    height: 422px;
    background-color: rgba(247, 247, 247, 1);
    top: 113px;
    left: 437px;
    border-radius: 20px 0 0 0;
  }
  
  /* ---- TESTIMONIALS CONTAINER ---- */
  
  .testimonials-container {
    position: relative;
    width: 100%;
    margin-top: 240px;
    text-align: center;
  }
  .testimonials-container h3 {
    font-size: 18px;
    line-height: 21.09px;
    width: 155px;
    height: 22px;
    color: rgba(229, 132, 17, 1);
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .testimonials-container h2 {
    font-size: 42px;
    line-height: 49.22px;
    width: 413px;
    height: 52px;
    color: rgba(30, 30, 30, 1);
    margin: 0 auto;
    padding-bottom: 60px;
  }
  .testimonials-container .reviews {
    display: flex;
    margin-left: 132px;
    gap: 34px;
  }
  .testimonials-container .reviews section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 370px;
    height: 476px;
  }
  .testimonials-container .reviews section .review1 {
    position: absolute;
    bottom: 21.58px;
    width: 334px;
    height: 206px;
    border-radius: 18.12px;
    background-color: rgba(255, 255, 255, 1);
  }
  .testimonials-container .reviews section .review1 .img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -31px auto;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    background-color: rgba(255, 255, 255, 1);
  }
  .testimonials-container .reviews section .review1 .img .left-border {
    position: absolute;
    left: -5px;
    width: 5px;
    height: 5px;
    border: none;
    border-top-left-radius: 5px;
    box-shadow: -10px -10px 0px 5px blue;
    transform: rotate(180deg);
  }
  .testimonials-container .reviews section .review1 .review-info {
    position: absolute;
    bottom: 0;
  }
  .testimonials-container .reviews section .review2 {
    position: absolute;
    bottom: 21.58px;
    width: 334px;
    height: 206px;
    border-radius: 18.12px;
    background-color: rgba(255, 255, 255, 1);
  }
  .testimonials-container .reviews section .review2 .img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -31px auto;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    background-color: rgba(255, 255, 255, 1);
  }
  .testimonials-container .reviews section .review3 {
    position: absolute;
    bottom: 21.58px;
    width: 334px;
    height: 206px;
    border-radius: 18.12px;
    background-color: rgba(255, 255, 255, 1);
  }
  .testimonials-container .reviews section .review3 .img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -31px auto;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    background-color: rgba(255, 255, 255, 1);
  }